<div>
  <h2>Lista de Funcionários</h2>
  <mat-table [dataSource]="contratados">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>
          ID
      </mat-header-cell>
      <mat-cell *matCellDef="let contratados">
          {{contratados.id}}
      </mat-cell>
    </ng-container>

      <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef>
              Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.nome}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef>
            Cpf
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.cpf}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rg">
          <mat-header-cell *matHeaderCellDef>
            Rg
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.rg}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telefone">
          <mat-header-cell *matHeaderCellDef>
            Telefone
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.telefone}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>
            E-mail
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.email}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dataNascimento">
          <mat-header-cell *matHeaderCellDef>
            Data de Nascimento
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.dataNascimento}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dataContrato">
          <mat-header-cell *matHeaderCellDef>
            Data do Contrato
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.dataContrato}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="funcao">
          <mat-header-cell *matHeaderCellDef>
             Cargo
          </mat-header-cell>
          <mat-cell *matCellDef="let contratados">
              {{contratados.funcao}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numeroContrato">
        <mat-header-cell *matHeaderCellDef>
          Número do Contrato
        </mat-header-cell>
        <mat-cell *matCellDef="let contratados">
            {{contratados.numeroContrato}}
        </mat-cell>
      </ng-container>

  <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        Editar ou Remover
      </mat-header-cell>
      <mat-cell *matCellDef="let contratados">
          <button mat-button (click)="selecionarContratados(contratados)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="excluir(contratados)">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
  <div *ngIf="contratadosEdicao != undefined" class="editArea">
    <br>
      <br>
      <br>
      <h3 class="dados">Dados do Funcionário</h3>

      <mat-form-field class="formField">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.nome">
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>Cpf</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.cpf">
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>Rg</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.rg">
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>telefone</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.telefone">
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.email">
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.dataNascimento"><br>
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>Data do Contrato</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.dataContrato"><br>
      </mat-form-field>

      <mat-form-field class="formField">
          <mat-label>Cargo</mat-label>
          <input matInput [(ngModel)]="contratadosEdicao.funcao"><br>
      </mat-form-field>

      <mat-form-field class="formField">
        <mat-label>Numero do Contrato</mat-label>
        <input matInput [(ngModel)]="contratadosEdicao.numeroContrato"><br>
      </mat-form-field>

      <button class="cancelar" mat-button (click)="cancelar()">
        Cancelar
      </button>

      <button class="salvar" mat-button (click)="salvar()">
        Salvar
        <mat-icon>done_outline</mat-icon>
      </button>

    <br>
  </div>
</div>
