<div>

  <h2>Sobre Nós - VillaTur</h2>
  <br><h3>O Hotel VillaTur possui todos os benefícios para a sua estadia: é confortável, bem localizado e tudo isso por um ótimo preço. O hotel possui quartos confortáveis e modernos, com Wi-fi liberado, ar condicionado e Tv a cabo. Nós do Villatur atuamos a mais de 30 anos no mercado e estamos crescendo cada vez mais para estar sempre entregando o melhor atendimento para todos os nossos clientes.</h3>
  <br>
  <ul>
    <h4>
    <li> Missão: Nós da empresa VillaTur temos como missão entregar uma perfeita qualidade para nossos hóspedes, buscando sempre atender a todos da melhor forma possível.
  <li>Visão: Nosso objetivo futuro é ser a melhor rede de hotelaria do país, prezando pelo melhor atendimento presencial e on-line.
  <li>Valores: Nossa empresa preza sempre pela ética, excelência, comprometimento, qualidade e responsabilidade, buscando sempre melhorar a cada dia e oferecer o melhor atendimento de todos.
    </h4></ul>

  <img src="logo.png" alt="">

  <br> <br> <br>
  <h2 class="onde-estamos"> Nosso endereço:
  <p>  Av. Eng. Eusébio Stevaux, 823 - Santo Amaro, São Paulo - SP, 04696-000 </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5167.737889056264!2d-46.70394156663807!3d-23.670861297221485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce503655e6e565%3A0xcaf5773c95bc6b3e!2sAv.%20Eng.%20Eus%C3%A9bio%20Stevaux%2C%20823%20-%20Campo%20Grande%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004696-000!5e0!3m2!1spt-BR!2sbr!4v1622747131079!5m2!1spt-BR!2sbr"></iframe>
  <h2> Contatos </h2>

  <ul>
    <li> <i class="fa fa-phone fa-lg"></i> (11) 3578-2654 </li>
    <li> <i class="fa fa-whatsapp fa-lg"></i> (11) 94058-9654 </li>
    <li> <i class="fa fa-envelope fa-lg"></i> contatohotelvillatur@gmail.com </li>
  </ul>
  </h2>
</div>
