/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
    max-width: 150vw;
    margin: 0 auto;
    padding: 25px;
}

/* NEWSLETTER */

.newsletter {width: 84%; float: left; background-color: #111111; padding: 05px 8%;}
.newsletter h3 {font-size: 1.8em; color: #fff;}
.newsletter p {font-size: 1.2em; color: #fff;}
.newsletter form {width: 100%; float: left; margin-top: 10px; }
.newsletter form input{width: 37%; margin-right: 1%; padding: 15px 10px; border: 1px solid #fff; border-radius: 5px; color: #fff; background-color: initial; float: left;}
.newsletter button {width: 20%; background-color: #ffffff; padding: 15px 10px; border-radius: 5px; float: right; cursor: pointer;}

/* RODAPÉ */

.rodape {width: 84%; float: left; background-color: #13c7ae; padding: 15px 8%;}
.rodape p {color: #fff; }
